
@font-face {
    font-family: nlight;
    src: url(/assets/fonts/Newsreader-Light.woff);
    }
@font-face {
    font-family: nlightitalic;
    src: url(/assets/fonts/Newsreader-LightItalic.woff);
    }
@font-face {
    font-family: nregular;
    src: url(/assets/fonts/Newsreader-Regular.woff);
}
@font-face {
    font-family: olight;
    src: url(/assets/fonts/Outfit-Light.woff);
    }
@font-face {
    font-family: omedium;
    src: url(/assets/fonts/Outfit-Medium.woff);
}