@use "../../styles/global" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.card__link {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: $sage;
  border: 1px solid $sea-green; 
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  

  .image-container {
    position: relative; 
    width: 100%;
    overflow: hidden
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  &__name {
    border: 1px solid $sea-green;
    font-size: 14px;
    font-weight: 400;
    color: $black;
    font-family: omedium;
    position: absolute;
    bottom: -10px;
    right: -2px;
    background-color: $sage;
    padding: 6px 10px;
    border-radius: 12px 0 0 0;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 12px 8px;
  }

  &__tag {
    font-family: omedium;
    font-weight: 400;
    border: 1px solid $sea-green;
    background-color: $white;
    color: $black;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: capitalize;
  }
}
