body, html {
  margin: 0;
  padding: 0;
}

.web-content {
  position: relative;
  transition: transform 0.3s ease-in-out; 
}

.web-content.shifted {
  transform: translateX(-1%);
  width: 70%;
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-items: center; 
  padding: 20px 0px;
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
